torch
torchvision
ninja
xatlas
trimesh
meshzoo 
ipdb 
imageio 
gputil 
h5py 
point-cloud-utils 
imageio-ffmpeg
pyspng
urllib3
scipy
click
tqdm
opencv-python
rich
numpy
scikit-learn
dearpygui
git+https://github.com/NVlabs/nvdiffrast/